<h3>{{question}}</h3>
<div class="layou-row">
  {{paper-input value=response onChange=(action (mut response))}}
  {{#if extra}}
    {{extra}}
  {{/if}}
  {{#if isCorrect}}
    {{paper-icon "check"}}
  {{/if}}
</div>
{{#paper-button raised=true primary=true onClick=(action "helpButton") bubbles=false}}I Dont Know, help me please{{/paper-button}}